/* MyProfile.css */

/* ... (Existing CSS styles) */
@media (max-width: 767px) {
    .content-container {
        margin-bottom: 20px;
        /* Add margin to the top of the content container */
    }

    .upload-button {
        position: absolute;
        bottom: 50%;
        transform: translateX(50%);
        margin-top: 10px;
        /* Add some margin to separate the button from the image */
        margin-left: 80px;
        border: 2px solid black;
    }

    .height-100 {
      height: revert !important;
    }
}

.page-container {
    overflow: hidden;
    align-items: center;
}

.picture-container {
    width: 150px;
    /* Set the width and height to your preferred size */
    height: 150px;
    background-color: grey;
    /* Set the background color to grey or any color you prefer */
    border-radius: 50%;
    /* Make it circular */
    overflow: hidden;
    /* Hide any overflow content */
    border: 2px solid #333;
    /* Add a dark border around the container */
    align-items: center;
}

.profile-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.logo-size {
    width: 350px;
    /* Set the desired smaller width for the logo */
}

.yellow-logo-bar {
    background-color: #ffd700;
    width: 100%;
    ;
    /* Lighter grey background color for the logo bar */
    text-align: center;
    padding: 15px 0;
    /* Adjust padding as needed */
    border-bottom: 1px solid black;
}

.margin-container {
    margin-top: 10px;
    /* Add margin to the top of the content container */
}

.second-container {
    margin-top: 10px;
}

.second-column-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* You can adjust the shadow settings as needed */
}

.height-100 {
  height: 100%;
}

.content-container {
    margin-top: 10px;
    min-height: 70vh;
}

.Footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    /* Position the footer at the bottom */
    position: sticky;
    bottom: 0;
    /* You can adjust these styles as needed */
}